@import "tailwindcss";

@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/IRANSansWeb(FaNum).woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "IRANSans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  direction: rtl;
  color: #505050;
}
